<section ng-controller="LibraryController" >
    <div layout horizontal class="content-panel-bar blue-grey lighten-3 white-text text-darken-3">
        <div class="content-panel-header">Libraries</div>
        <div flex></div>
        <a href=""><i class="small mdi-file-cloud-upload"></i></a>
    </div>

    <div class="search-library-area" layout vertical >
        <div class="input-field" style="margin:30px 20px 0 20px;">
            <!--<i class="mdi-action-search prefix"></i>-->
            <input id="search_library" type="text" class="light-blue-text">
            <label for="search_library">Type here to search</label>
        </div>

        <div id="search_lib_results" vertical class="search-library-results">
            <div>vue.js</div>
            <div>arduino.js</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>vue.js</div>
            <div>arduino.js</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>vue.js</div>
            <div>arduino.js</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>vue.js</div>
            <div>arduino.js</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
            <div>arkto.js</div>
            <div>rets v2.0</div>
            <div>cyon_labs_version_2</div>
        </div>
    </div>
</section>