<section layout vertical fit center-center ng-controller="LoginController" class="orange darken-1 white-text">
    <div layout horizontal center-center  style="width:75vw;">
        <i class="large mdi-action-account-box"></i>
        <i class="small mdi-navigation-arrow-forward"></i>
        <i class="fa fa-github" style="font-size:6rem;"></i>
        <i class="small mdi-navigation-arrow-forward"></i>
        <i class="large mdi-action-favorite-outline"></i>
    </div>
    <h2 class="landing-jumbo-text">Get Started by logging into Github...</h2>
    <br><br>
    <a class="waves-effect waves-light btn-large orange darken-4 white-text" ng-click="githubLogin()">
        <i class="fa fa-github left"></i>Sign in with Github
    </a>
</section>